:root {
    --background-color: #2F303A;
    --icon-color: #F5F4FA;
    --accent-color: #2196F3;
    --text-accent: #FFFFFF;
    --logo-color: #000000;
    --title-color: #212121;
    --contacts-color: #757575;
    --button-background: #F5F4FA;
    --button-border: #EEEEEE;
    --background-focus: #188CE8;
    --rgba: rgba(255, 255, 255, 0.6);
    --portfolio-photo-border: 1px solid #EEEEEE
}