.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.clients-list-example {
    display: flex;

}

.clients-list-item {
    width: 170px;
    height: 92px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.clients-list-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--social-list-fill);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
        border: 1px solid var(--accent-color);
    }

}

.clients-icon {
    width: 106px;
    height: 60px;
    fill: var(--social-list-fill);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .clients-list-link:hover &,
    .clients-list-link:focus & {
        fill: var(--accent-color);
    }
}

